.footer {
    width: 100%;
    height: 10vh;
    background-color: #191D29;
    color: #747575;
    margin-bottom: 1.5rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}