.main {
    background: #060810;
    color: #ffffff;
    margin: 0;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}