.header {
    width: 100%;
    height: 80px;
    margin-top: 2.5rem;
    background: #191D29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    .logo {
        width: 25%;
        padding-left: 1.5rem;
        span {
            font-weight: 900;
            font-size: 1.8rem;
            color: #F8FFFA;
            background: rgb(255,255,255);
background: linear-gradient(3deg, rgba(255,255,255,0.03827468487394958) 40%, rgba(18,210,77,1) 40%, rgba(18,210,77,1) 50%, rgba(18,210,77,1) 60%, rgba(255,255,255,0) 60%);
        }
    }
    .navigation {
        width: 40%;
        margin-left: -4rem;
        ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            li {
                list-style: none;
                a {
                    text-decoration: none;
                    color: #ffffff;
                    font-weight: 500;
                    font-size: 1rem;
                }
            }
        }
    }
    .action-btn {
        width: 20%;
        padding-right: 1.5rem;
        display: flex;
        justify-content: flex-end;
        .btn {
            background: #14E956;
            text-decoration: none;
            color: #050810;
            border: none;
            border-radius: 5px;
            padding: .8rem 1.7rem;
            font-weight: 700;
            font-size: 14px;
        }
    }
}